<div class="new_cocktail_form">
  <%= form_for @cocktail do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :instructions %>
    <%= f.text_area :instructions %>

    <div class="ingredients_wrapper">
    </div>

    <%= link_to "Add Ingredient", new_ingredient_path, id: "add_ingredient" %>

    <%= f.submit %>
  <% end %>
</div>
