
<div>
	<div id="image"><p><%= cl_image_tag(@cocktail.image_id, :width => 50, :height => 50, :crop => :fill) %></p></div>

	<div id="name"><h1><%= @cocktail.name %></h1> </div>
</div>

<div><%= @cocktail.vote_score %> <%= link_to "Upvote", cocktail_votes_path(@cocktail), method: 'post' %></div>

<div class = "description">
	<div id="description"><p><%= @cocktail.description %></p></div>

	<div id="instructions"><p><%= @cocktail.instructions %></p></div>
</div>
