<div class="cocktail_detailed">

	<div id="cocktail_detailed_container">
		<h1><%= @cocktail.name %></h1>
		
		<%= @cocktail.vote_score %> <%= link_to "Upvote", cocktail_votes_path(@cocktail), method: 'post' %>
		<p><%= @cocktail.description %></p>
		<ul>
			<% @cocktail.ingredients.each do |ingredient| %>
			<li><%=  ingredient.quantity %> <%= ingredient.unit_of_measurement %> <%= ingredient.name %></li>
			<% end %>
		</ul>

		<p><%= @cocktail.instructions %></p>

		<%= link_to 'Edit', edit_cocktail_path(@cocktail)  %><br>
	</div>		
</div>

<style>
html body {
	background-image: url("http://res.cloudinary.com/dl55dq59l/image/upload/<%= @cocktail.image_id %>");
	background-size: cover;
	background-repeat: no-repeat; 
}
</style>
