<div class="cocktail_description">
	<div id="description_content">
		<h1><%= @cocktail.name %></h1> 
		<%= @cocktail.vote_score %> <%= link_to "Upvote", cocktail_votes_path(@cocktail), method: 'post' %>
		<p><%= @cocktail.description %></p>
		<ul>
			<% @cocktail.ingredients.each do |ingredient| %>
			<li><%=  ingredient.quantity %> <%= ingredient.unit_of_measurement %> <%= ingredient.name %></li>
			<% end %>
		</ul>

		<p><%= @cocktail.instructions %></p>
	</div>		
</div>
<div class="display-image"><%= cl_image_tag(@cocktail.image_id) %>
</div>